*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-image: url(../assets/images/portada.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

nav a{
      color: white;
}

nav a:hover{
  color:red
}

.header__imgRedonda {
        width:20rem;
        height:16rem;
        border-radius: 50%;
        padding: 1rem;
        color: rgb(236, 51, 51) !important;
    }

.header__nav__derecha{
    text-align: right;
    font-size: x-large;
    font-family: cursive;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    width: 10rem;
    font-size: 1.5rem
}

  main{
    background-color: black
    }

.section__div__color{
    font-size: 1.5rem;
    font-family: cursive;
    color: white
}

.section__imgcentrales{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px
}

.section__imgcentrales__img {
    width: 39rem;
    height: 30rem;
    font-size: 1rem
}

.copyright{
    font-family: cursive;
    background-color: rgb(212, 94, 100);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  @media (max-width: 768px) {
    html {
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    html {
      font-size: 8px;
    }
  }