header {
  background-image: url(../assets/images/portada.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.footer {
  font-family: cursive;
  background-color: #d45e64; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row; }

.header__imgRedonda {
  width: 22rem;
  height: 16rem;
  border-radius: 50%;
  padding: 1rem; }

.header__nav__derecha {
  text-align: right;
  font-size: x-large;
  font-family: cursive;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  width: 10rem;
  font-size: 1.5rem; }

a {
  color: #ec3333; }
  a:hover {
    color: white; }
  a:active {
    color: orange; }

main {
  background-color: black; }

.section__div__color {
  font-size: 1.5rem;
  font-family: cursive;
  color: white; }

.section__imgcentrales {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px; }

.section__imgcentrales__img {
  width: 39rem;
  height: 30rem;
  font-size: 1rem; }

  @media (max-width: 768px) {
  html {
    font-size: 14px; } }

@media (max-width: 480px) {
  html {
    font-size: 8px; } }
