header {
	background-image: url(../assets/images/portada.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.footer {
	font-family: cursive;
	background-color: rgb(212, 94, 100);
    }