header {
	background-image: url(../assets/images/portada.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.copyright{
    font-family: cursive;
    background-color: rgb(212, 94, 100);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}