$colorancla: rgb(236, 51, 51);
$pixels: 20px;
@import "_general";
@mixin color{
	background-color: black	
}
@mixin default{
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}
* {
	@include default;
}
$estilos: (
	width: 22rem,
	height: 16rem,
	border-radius: 50%,
	padding: 1rem,
);
.section__div__color--extend{
	@extend .section__div__color;
	background-color: white
	}
.header {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.header__imgRedonda {
	width: map-get($estilos,width);
	height: map-get($estilos,height);
	border-radius: map-get($estilos,border-radius);
	padding: map-get($estilos,padding);
}
.header__nav__derecha {
	text-align: right;
	font-size: x-large;
	font-family: cursive;
	display: flex;
	justify-content: flex-end;
	gap: 1rem;
	width: 10rem;
	font-size: 1.5rem;
}
main {
	@include color;
}
.section__div__color {
	font-size: 1.5rem;
	font-family: cursive;
	color: white;
}
.section__imgcentrales {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: $pixels;
}
.section__imgcentrales__img {
	width: 39rem;
	height: 30rem;
	font-size: 1rem;
}

@media (max-width: 768px) {
	html {
		font-size: 14px;
	}
}
@media (max-width: 480px) {
	html {
		font-size: 8px;
	}
}